<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutorial</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    
    <meta name="robots" content="noindex,follow" />

  </head>

  <body>
    <main class="container">

      <!-- Left Column / Headphones Image -->
      <div class="left-column">
        <img data-image="red" src="assets/images/fossil-g.jpg" alt="">
        <img data-image="blue" class="active" src="assets/images/fossil-sil.jpg" alt="">
        <img data-image="green" class="active" src="assets/images/fossil-rose.jpg" alt="">
      </div>


      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <span>Watch</span>
          <h1>Fossil Analog Dial Watch - FS4835 ₹10,995 </h1>
          <p>American lifestyle brand, creatively rooted in authentic vintage and classic design.</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">

          <!-- Product Color -->
          <div class="product-color">
            <span>Color</span>

            <div class="color-choose">
              <div>
                <input data-image="red" type="radio" id="red" name="color" value="red" checked>
                <label for="red"><span></span></label>
              </div>
              <div>
                <input data-image="blue" type="radio" id="blue" name="color" value="blue">
                <label for="blue"><span></span></label>
              </div>
              
            </div>

          </div>

          <!-- Cable Configuration -->
          <div class="cable-config">
            <span>Emi Option</span>

            <div class="cable-choose">
              <button onclick="myFunction3()">3</button>
              <button onclick="myFunction6()">6</button>
              <button onclick="myFunction9()">9</button>
              <button onclick="myFunction12()">12</button>
            
            </div>
            <a href="#">Processing Fee : ₹150</a>
          </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
            <span>Emi Per Month</span>
          <span id="demo"> </span>
          <button class="cart-btn" (click)="gotoPay()">Pay</button>
        </div>
      </div>
    </main>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="js/fossil.js" charset="utf-8"></script>
  </body>
</html>