<!-- START CONTACT -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container">
        <a href="#" class="navbar-brand mr-3">Finance Project </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">    
                <a href="#" class="nav-item nav-link">Home</a>
                <a class="nav-item nav-link" routerLink="/testimonials">Testimonials</a>
                <a href="#" class="nav-item nav-link" routerLink="/about-us">About Us</a>
                <a href="#" class="nav-item nav-link active" routerLink="/contact-us">Contact Us</a>
                <a href="#" class="nav-item nav-link" routerLink="/login-l">Login Here</a>
            </div>
            <div class="navbar-nav ml-auto">
            </div>
        </div>
    </div>    
  </nav>
<section id="contact" class="tm-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">					
                <h2 class="title">Drop <strong>me a line</strong></h2>
                <hr>					
            </div>
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-10">
                <form action="#" method="post">
                    <div class="col-md-6 col-sm-6">
                        <input class="form-control" type="text" placeholder="Your Name">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <input class="form-control" type="email" placeholder="Your Email">
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <input class="form-control" type="text" placeholder="Your Subject">
                        <textarea class="form-control" placeholder="Your Message" rows="6"></textarea>
                    </div>
                    <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                        <button  type="submit" (click)="gotoHome()">Shoot Message</button>
                    </div>
                </form>
            </div>
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-12 col-sm-12">
                
            </div>
        </div>
    </div>
    </section>
    <!-- END CONTACT -->