<!-- START AboutUs -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container">
        <a href="#" class="navbar-brand mr-3">Finance Project </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">    
                <a href="#" class="nav-item nav-link">Home</a>
                <a class="nav-item nav-link" routerLink="/testimonials">Testimonials</a>
                <a href="#" class="nav-item nav-link active" routerLink="/about-us">About Us</a>
                <a href="#" class="nav-item nav-link" routerLink="/contact-us">Contact Us</a>
                <a href="#" class="nav-item nav-link" routerLink="/login-l">Login Here</a>
            </div>
            <div class="navbar-nav ml-auto">
            </div>
        </div>
    </div>    
  </nav>
<section id="portfolio" class="tm-portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow bounce">
                <div class="title">
                    <h2 class="tm-portfolio-title">About <strong>Us</strong></h2>
                </div>
    
                <!-- START  SECTION -->
                <div  class="col-md-12">
                    <p> In general, when user wants to purchase
                        products using EMI feature of online shopping, user must have a credit card. While payment
                        of EMI every month, user must pay some interest with EMI which varies for credit cards of
                        different banks. "Finance Management System" is a web application in which the concept of
                        no cost EMI is introduced where user doesn't have to pay any interest on EMI and it is not
                        mandatory for user to have credit card in order to purchase product via EMI since an EMI
                        card will be given to users after Registration on this system if the user meets the eligibility
                        criteria. If all the documents provided by the user are approved, then EMI card gets activated
                        for which user must pay the joining fee for the card user chosen. Using that EMI card, users
                        will be able to purchase different products according to their card limit. The product which
                        user will purchase, some processing fee will be taken from the user which will be an earning
                        resource for the company. The users will be able to view their purchased products in
                        Dashboard and how much amount they are supposed to pay in upcoming months. </p>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- END AboutUs -->