<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutorial</title>
    <!-- Fonts
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    CSS 
    <link href="style.css" rel="stylesheet"> -->
    <meta name="robots" content="noindex,follow" />

  </head>

  <body>
    <main class="container">

      <!-- Left Column / Headphones Image -->
      <div class="left-column">
        <img data-image="black" src="assets/images/ferrari-black.jpg" alt="">
        <img data-image="white" src="assets/images/ferrari-white.png" alt="">
        <img data-image="red" class="active" src="assets/images/Ferrari-red.png" alt="">
      </div>


      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <span>Car</span>
          <h1>Sporty Ferrari ₹31,69,274</h1>
          <p>The Ferrari 812 Superfast is a front mid-engine, rear-wheel-drive grand tourer produced by Italian sports manufacturer Ferrari.</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">

          <!-- Product Color -->
          <div class="product-color">
            <span>Color</span>

            <div class="color-choose">
              <div>
                <input data-image="red" type="radio" id="red" name="color" value="red" checked>
                <label for="red"><span></span></label>
              </div>
              <div>
                <input data-image="white" type="radio" id="blue" name="color" value="white">
                <label for="blue"><span></span></label>
              </div>
              <div>
                <input data-image="black" type="radio" id="black" name="color" value="black">
                <label for="black"><span></span></label>
              </div>
            </div>

          </div>

          <!-- Cable Configuration -->
          <div class="cable-config">
            <span>Emi Option</span>

            <div class="cable-choose">
              <button onclick="my9()">3</button>
              <button onclick="my10()">6</button>
              <button onclick="my11()">9</button>
              <button onclick="my12()">12</button>
            
            </div>
            <a href="#">Processing Fee : ₹150</a>
          </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
            <span>Emi Per Month</span>
          <span id="demo"> </span>
          <button class="cart-btn" (click)="gotoPay()">Pay</button>
        </div>
      </div>
    </main>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="assets/js/ferrari.js" charset="utf-8"></script>
  </body>
</html>




















