<div class="products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
                    <h2 class="title">Products</h2>
            <hr>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <img src="assets/images/television.jpg" alt="">
            <hr>
            <div class="down-content">
              <h4>Smart TV</h4>
              <a href="#" class="filled-button" routerLink="/tv">Know More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <img src="assets/images/onePlus8pro.png" alt="">
            <hr>
            <div class="down-content">
              <h4>One Plus 8 pro</h4>
                <a href="#" class="filled-button" routerLink="/oneplus">Know More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
                <div class="product-item">
                  <img src="assets/images/airpods_pro.png" alt="">
                  <hr>
                  <div class="down-content">
                    <h4>Airpods Pro</h4>
                      <a href="#" class="filled-button" routerLink="/airpods">Know More</a>
                  </div>
                </div>
              </div>
        <div class="col-md-4">
                <div class="product-item">
                  <img src="assets/images/red.jpg" alt="">
                  <hr>
                  <div class="down-content">
                    <h4>Ferrari</h4>
                    <a href="#" class="filled-button" routerLink="/ferrari">Know More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product-item">
                  <img src="assets/images/speakers.jpg" alt="">
                  <hr>
                  <div class="down-content">
                    <h4>Home Theatre</h4>
                      <a href="#" class="filled-button" routerLink="/speaker">Know More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product-item">
                  <img src="assets/images/bike.jpg" alt="">
                  <hr>
                  <div class="down-content">
                    <h4>Bike</h4>
                          <a href="#" class="filled-button" routerLink="/bike">Know More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                    <div class="product-item">
                      <img src="assets/images/Iphone11.jpg" alt="">
                      <hr>
                      <div class="down-content">
                        <h4>Iphone 11</h4>
                        <a href="#" class="filled-button" routerLink="/iphone11">Know More</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="product-item">
                      <img src="assets/images/headphones.jpg" alt="">
                      <hr>
                      <div class="down-content">
                        <h4>Headphones</h4>
                          <a href="#" class="filled-button" routerLink="/beats">Know More</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="product-item">
                      <img src="assets/images/fossil.jpg" alt="">
                      <hr>
                      <div class="down-content">
                        <h4>Watch</h4>
                              <a href="#" class="filled-button" routerLink="/fossil">Know More</a>
                      </div>
                    </div>
                  </div>
      </div>
    </div>
  </div>