<!-- START TESTIMONIAL -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container">
        <a href="#" class="navbar-brand mr-3">Finance Project </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">    
                <a href="#" class="nav-item nav-link">Home</a>
                <a class="nav-item nav-link active" routerLink="/testimonials">Testimonials</a>
                <a href="#" class="nav-item nav-link" routerLink="/about-us">About Us</a>
                <a href="#" class="nav-item nav-link" routerLink="/contact-us">Contact Us</a>
                <a href="#" class="nav-item nav-link" routerLink="/login-l">Login Here</a>
            </div>
            <div class="navbar-nav ml-auto">
            </div>
        </div>
    </div>    
  </nav>
<section id="work" class="tm-padding-top-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-11">
                <h2 class="title">Testimonials</h2>						
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="work-wrapper">
                        <img src="assets/images/avatar3.png" alt="">
                    <h3 class="text-uppercase tm-work-h3">Chandler Bing</h3>
                    <hr>
                    <p>Awesome site got product at n cost emi in cheap rate worth buying.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="work-wrapper">
                        <img src="assets/images/avatar2.png" alt=""> 
                    <h3 class="text-uppercase tm-work-h3">Phoebe Buffay</h3>
                    <hr>
                    <p>Getting cosmetic at no cost emi what else do you need? Smelly Cat.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="work-wrapper">
                        <img src="assets/images/avatar1.jpg" alt=""> 
                    <h3 class="text-uppercase tm-work-h3">Joey Tribbiani</h3>
                    <hr>
                    <p>Variety of products in site just like actors in acting industry  .</p>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- END TESTIMONIAL -->