<!-- START Products -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container">
      <a href="#" class="navbar-brand mr-3">Finance Project </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">    
              <a href="#" class="nav-item nav-link active">Home</a>
              <a class="nav-item nav-link" routerLink="/testimonials">Testimonials</a>
              <a href="#" class="nav-item nav-link" routerLink="/about-us">About Us</a>
              <a href="#" class="nav-item nav-link" routerLink="/contact-us">Contact Us</a>
              <a href="#" class="nav-item nav-link" routerLink="/login-l">Login Here</a>
          </div>
          <div class="navbar-nav ml-auto">
          </div>
      </div>
  </div>    
</nav>
<div class="hello">
    <h1> Could be cheap,Could be expensive,360° Finance!All you need</h1>
   <img src="assets/images/home.jpeg" alt="" width="1519" height="450">
   </div>
<section id="work" class="tm-padding-top-bottom-100">
    <div class="products">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                        <h2 class="title">Products</h2>
                <hr>
              </div>
            </div>
            <div class="col-md-4">
              <div class="product-item">
                <img src="assets/images/Iphone11.jpg" alt="">
                <hr>
                <div class="down-content">
                  <h4>Iphone 11</h4>
                  <a href="#" class="filled-button" routerLink="/login-l">Know More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="product-item">
                <img src="assets/images/headphones.jpg" alt="">

                <hr>
                <div class="down-content">
                  <h4>Headphones</h4>
                    <a href="#" class="filled-button" routerLink="/login-l">Know More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="product-item">
                <img src="assets/images/Watch.jpg" alt="">
                <hr>
                <div class="down-content">
                  <h4>Watch</h4>
                        <a href="#" class="filled-button" routerLink="/login-l">Know More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

