/* body {
    color: #000;
    font: 14px Arial;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
  .input-field { 
    width: 100%; 
    padding: 10px; 
    text-align: center;}
  
    .input-icons i { 
      position: absolute; 
  } 
    
  .input-icons { 
      width: 100%; 
      margin-bottom: 10px; 
  } 
    
  .icon { 
      padding: 18px; 
      min-width: 50px; 
  }
  
  
  input[type="radio"]{
    display: none;
  }
  label{
    border: 2px solid black; 
    border-radius: 5px;
    padding: 10px 20px;
    width: 200px;
    display: flex;
    cursor: pointer;
    margin-left: 300px;
  }
  
  label:before{
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 17px;
  }
  
  input[type="radio"]:checked + label{
    background-color: black;
    color: white;
  }
  
  input[type="radio"]:checked +label:before{
    height: 16px;
    width: 16px;
    border: 5px solid white;
    background-color: black;
  }
  
  
  h1{ font-size:28px;
    color:#563D64;}
  a{ text-decoration: none; }
  a:hover{ text-decoration: underline; }
  form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .container { margin: 25px auto; position: relative; width: 900px; }
  #content {
    background: #f9f9f9;
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 1000px;
    height: 930px;
  }
  #content h1 {
    color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
  }
  #content h1:before,
  #content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 27%;
  }
  #content h1:after {
    background: rgb(126,126,126);
      right: 0;
  }
  #content h1:before {
    background: rgb(126,126,126);
      left: 0;
  }
  
  #content form { margin: 0 20px; position: relative }
  #content form input[type="text"],
  #content form input[type="password"] {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 13px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 15px 10px 15px 40px;
    width: 80%;
  }
  #content form input[type="text"]:focus,
  #content form input[type="password"]:focus {
    box-shadow: 0 0 2px #008080 inset;
    background-color: #fff;
    border: 1px solid #008080;
    outline: none;
  }
  #content form input[type="submit"] {
    background: rgb(254,231,154);
    background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    float: left;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 40px 0 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    width: 120px;
    margin-left: 350px;
  }
  #content form input[type="submit"]:hover {
    background: rgb(254,193,81);
  }
  #content form div a {
    color: #004a80;
      float: right;
      font-size: 12px;
      margin-top: 55px;
      text-decoration: underline;
      margin-right: 200px;
  } */